
						.slider-frame{
								overflow:hidden;
								height:450px;
								width:1400px;
						}
						@keyframes slide_animation{
								0%{right:0px;}
								50%{right:1400px;}
								100%{right:2800px;}
						}
						.image-container img{
								width:1400px;
								height:450px;
						}
						.image-container{
								position:relative;
								float:left;
						}
						.slide-images{
								width:4200px;
								position:relative;
								animation:slide_animation 5s infinite;
								animation-direction:alternate;
								animation-play-state:running;
						}
