.services{
		width:100%;
		height:400px;
		background-color:rgb(139,69,19);
		opacity:0.9;
}

.services > div{
		height:50%;
		width:50%;
		float:left;
}

.services .text_title{
		font-weight:bold;
		font-size:22px;
		text-align:center;
}

.services .text_description{
		text-align:center;
}
